<template>
  <main class="todo-app">
    <h1 class="todo-app__title">TODO</h1>
    <search v-model="search" class="todo-app__search"/>
    <section class="todo-app__content todo-app-content">
      <header class="todo-app-content__header">
        <tabs :active-tab="activeTab"
              @changeActiveTab="changeActiveTab"/>
        <a class="todo-app__clear" @click.prevent="clearTodos"> очистить список</a>
      </header>
      <main>
        <todo-list :todos="todos" @removeTodo="removeTodo"></todo-list>
      </main>
      <footer>
        <add-task-form @addTodo="addTodo"></add-task-form>
      </footer>
    </section>
  </main>
</template>

<script>
import Search from "../components/Search";
import Tabs from "../components/Tabs";
import AddTaskForm from "../components/AddTaskForm";
import TodoList from "../components/TodoList";

export default {
  name: "Index",
  components: {
    TodoList,
    Tabs,
    Search,
    AddTaskForm
  },
  data() {
    return {
      todos: [],
      search: '',
      activeTab: 'all',
      isDone: false
    };
  },
  created() {
    this.loadTodos()
  },
  methods: {
    async loadTodos() {
      const todoResponse = await fetch('https://jsonplaceholder.typicode.com/todos?userId=1');
      this.todos = await todoResponse.json()
      console.log(this.todos)
    },
    addTodo(taskName) {
      const lastId = this.todos[this.todos.length - 1].id;
      const addingObj = {
        id: lastId + 1,
        title: taskName,
        completed: false,
        isComlited: this.isDone
      }
      this.todos.push(addingObj);
    },
    removeTodo(index) {
      console.log(index);
      this.todos.splice(index, 1)
    },
    clearTodos() {
      this.todos = []
    },
    changeActiveTab(activeTab) {
      this.activeTab = activeTab;
    }
  }
};

</script>

<style lang="scss">
#app {
}

.todo-app {
  background-image: url('../assets/image.jpg');
  background-repeat: no-repeat;
  position: center;
  background-size: contain;

  &__title {
    text-align: center;
    font-stretch: ultra-expanded;
    color: white;
    margin-right: 470px;
  }

  &__header{
    top: 100px;
    right: 40px;
  }

  &__clear{
    /*margin-left: 400px;
    margin-top: 300px;*/
    color: #3980B3;
    font-size: 13px;
  }

}

.todo-app-content {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  height: 100%;
  padding: 30px;
  min-height: 500px;

  /* width: 1000px;
  height: 800px;
  left: 460px;
  top: 300px;*/
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  &__todo-app-content{

  }

}
</style>
