<template>
  <form class="add-task-form" @submit.prevent="addTodo">
    <p class="add-task-form__label">Добавить задачу</p>
    <input v-model="todo" class="add-task-form__input" type="text" placeholder="  Наименование задачи"/>
    <p>
      <button type="submit" class="add-task-form__btn">Добавить задачу</button>
    </p>
  </form>
</template>

<script>
export default {
  name: "AddTaskForm.vue",
  data: () => ({
    todo: ""
  }),
  methods: {
    addTodo() {
      if (!this.todo) return;
      this.$emit('addTodo', this.todo);
      this.todo = "";
    }
  }

}
</script>

<style lang="scss">
.add-task-form {
  &__label {
    margin-right: 370px;
  }

  &__input {
    width: 500px;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  &__btn {
    color: white;
    border: 1px solid dodgerblue;
    margin-right: 350px;
    height: 35px;
    width: 150px;
    background: #418FC8;
    border-radius: 32px;
  }
}
</style>