<template>
    <input type="search" placeholder="Поиск"
           :value="search"
           @input="$emit('input', $event.target.value)">
  <!--<input class="find" type="text"  placeholder="  Поиск"/>-->
</template>


<script>
export default {
  name: "Search.vue",
  model: {
    prop: 'search',
    event: 'input'
  },
  props: {
    search: {
      type: String,
      required: true
    }
  }
}

</script>

<style lang="scss">

.todo-app{
  &__search{
    /*margin: auto;
    width: 1000px ;
    height: 80px;
    top: 180px;
    left: 460px;*/
    margin: auto;
    margin-left: 475px;
    width: 560px ;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}
</style>