<template>
  <div class="tabs">
    <a v-for="(tab, index) in tabs" :key="index"
       href="#"
       class="tabs__item" :class="tab.name === activeTab ? 'tabs__item--active' : ''"
       @click.prevent="onClickTab(tab.name)">
      {{ tab.text }}
    </a>
  </div>
</template>

<script>
export default {
  name: "Tabs",
  props: {
    activeTab: {
      type: String,
      required: true
    }
  },
  data: () => ({
    tabs: [{
      name: 'all',
      text: 'Все'
    }, {
      name: 'active',
      text: 'Активные'
    }, {
      name: 'inactive',
      text: 'Неактивные'
    }]
  }),
  methods: {
    onClickTab(tabName) {
      this.$emit('changeActiveTab', tabName)
    }
  }

}

</script>

<style lang="scss">
.tabs {
}
.tabs{
  margin-top: -10px;
  margin-left: -40px;
  &__item{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin-right: 10px;
    color: #444444;
    font-family: Montserrat cursive !important;

    /*width: 55px;
    height: 42px;
    left: 500px;
    top: 332px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    identical to box height, or 150%
    color: #418FC8;*/
  }

}


</style>