<template>
  <div class="todo-list">
    <div v-for="(todo,i) in todos" :key="todo.id">
      <p>
        <label><input v-model="todo.isComplete" class="todo-list__check" type="checkbox"/></label>
        <!--<span class="todo_id">{{ i + 1}}.</span>-->
        <span class="todo-list__text"
              :class="{todo_list__isShow: todo.isComplete}"
              @click="removeTodo(i)">{{ todo.title }}</span>
        <span class="todo-list__text"
              :class="{todo_list__isShow: todo.isComplete}"
              @click="removeTodo(i)">
           {{ todo.text }}
         </span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoList",
  props: {
    todos: {
      type: Array,
      required: true
    }
  },
  methods: {
    removeTodo(taskId) {
      this.$emit('removeTodo', taskId)
    }
  }
}
</script>

<style lang="scss">
.todo-list {
  &__text {
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    &__isShow {
      color: grey;
      text-decoration: line-through;
    }
  }

 /* &__isShow {
    color: grey;
    text-decoration: line-through;
  }

   &__check {
    display: inline-block;
    margin-left: 10px;
  }*/

  /*input[type="checkbox"]{
    display: none;
  }
  label {
    padding-left: 20px;
  }
  label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 60%;
  }
  input[type="checkbox"]:checked + label::after{
    background-color: red;
    border-radius: 50%;
    content: 'v';
    text-align: center;
  }*/
}
</style>